body {
    font-size:16px;
    color: whitesmoke;
    margin: 1.5rem;
}

html {
    max-width: 960px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color:whitesmoke;
}

header, main, footer {
    max-width: 760px;
    background-color:#143109;
    margin: 1rem;
    padding: 1rem;
}

img{
    float: right;
    height: auto;
    width: 200px;
    padding: 3.5rem;
}

h1 {
    font-size: 36px;
    color:whitesmoke;
    text-align: center;
}

h2 {
    font-size: 24px;
    color:whitesmoke;
    padding: 1rem;
}

p {
    color:whitesmoke;
    font-size: 16px;
}

.copyright {
    text-align: center;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    text-decoration: underline;
}