@media only screen and (min-width: 64em) {
    main, footer {
        margin: auto;
        max-width: 960px;
    }
    nav, header {
        max-width: 100%;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
}