@media only screen and (min-width: 35em) {
    header {
        text-align: right;
    }
    nav ul, nav ul.primaryNav {
        display: flex;
        margin: auto;
        padding: 0;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav button {
        display: none;
    }
}