@media only screen and (min-width: 64em) {
    main {
        margin: 0 auto;
        max-width: 960px;
    }
    header {
        max-width: 100%;
        justify-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        margin-top: auto;
    }
    h2 {
        text-align: center;
    } 
    nav {
        max-width: 100%;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav button {
        display:none;
    }
    footer {
        margin: 0 auto;
        max-width: 1050px;
    }
    .gallery-view {
         grid-template-columns: 1fr 1fr 1fr;
    }
    .gallery:hover {
        box-shadow: 0 0 50px rgb(8, 228, 19);
    }
    form label.sbs {
        padding: .4rem;
    }
    .town-data {
        display: flex;
        align-items: center;
    }
    div.town-data {
        padding: 0 10px 0;
        margin: 20px auto;
        max-width: 400px;
        flex-direction: column;
        justify-content: left;
        min-height: 500px
    }
    .town-data img {
        margin: 6px 6px 0;
        width: auto;
    }
    .town-data h3 {
        padding: 10px 0;
        margin-bottom: auto;
    }    
    div.town-data:nth-of-type(even) {
        flex-direction: column;
    }    
    div.town-data:nth-of-type(even) img {
        margin: auto 0;        
        width: auto;
        height: auto;
    }
}