@media only screen and (min-width: 36em) {
    header {
        text-align: center;
    }
    nav ul, nav ul.primaryNav {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav button {
        display: none;
    }
    .article{
        grid-column: 2;
        margin-left: auto;
        margin-right: auto;
    }
    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}