main {
    background-color: #758295;
    margin: 0.5rem;
    font-size: 16px;
    padding: 1rem;
    max-width: 760px;
}
body {
    max-width: 940px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 1rem;
    font-size: 16px;
     font-family:'Berkshire Swash', cursive;
}
header {
    text-align: center;
    padding: 1rem;
    color:#102E4A;
    background-color:#99300A ;
    
}