main {
    padding: 1rem;
    text-align:center;
}
body {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    text-align:center;
}
header {
    text-align: center;
    background-color:#E6480F;
    color:#4791D7;
    font-size: 1.5rem;
    font-family:'Berkshire Swash', cursive;
    margin: 1.5rem;
    padding-top:0.5rem;
}
img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
}
h1 {
    font-size: 5rem;
    margin: 0 auto;
    color: #4791D7;
}
h2, h3, h4, h5 {
    font-family:'Berkshire Swash', cursive;
    color:#00E070;
    text-align:center;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}
p {
    color:#00E070;
    font-size: 20px;
    font-family:'Asul', sans-serif;
    text-align:center;
    margin-left:10%;
    margin-right:10%;
}
.colors {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    text-align:center;
}
.colors th {
    background-color:#0000;
    color:whitesmoke;
}
.colors td {
    width: 50%;
    height: 3rem;
}
.primary {
    background-color:#758295;
}
.secondary {
    background-color:#E6480F;
}
.accent1 {
    background-color:#4791D7;
}
.accent2 {
    background-color:#00E070;
}
.accent3 {
    background-color:#FFFFFF;
}
a {
    color:#4791D7;
    font-size: 1rem;
    font-family:'Asul', sans-serif;
    text-decoration: none;    
}
nav {
	background-color:#4791D7;
	text-align: center;
	box-shadow:#4791D7;
}
nav ul li a{
    background-color: #4791D7;
    color:#E6480F;
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'Asul', sans-serif;
}
nav a:link, nav a:visited {
    color:#00E070;
}
nav a:hover {
    background-color:#00E070;
    color:#4791D7;
}
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
footer {
    background-color:#E6480F;
    color:#4791D7;
    padding: 1rem;
    text-align:center;
    margin:1.5rem;
}